body{
    background: #D6CFAE;
}

.scrollable-table::-webkit-scrollbar {
    width: 10px;
}
.scrollable-table::-webkit-scrollbar-thumb {
    background: #ECF2BA;
    border-radius: 32px;
}

.scrollable-table{
    height: 300px;
    width: fit-content;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    margin: auto;
    border-radius: 32px;
    border: 8px solid #ECF2BA;
}

.scrollable-table > .table {
    width: 100%;
}

.table {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-collapse: collapse;
    font-size: 17px;
}

.table th {
    background-color: #C8BD93;
    color: #1F1C21;
    position: sticky;
    top: 0px;
}

.table td {
    text-align: center;
}

.table tr {
    background-color: #F1F5CC;
    color: #1F1C21;
    scroll-snap-align: start;
}

.table th,
.table td {
    padding: 16px 25px;
    font-weight: normal;
}

.table tbody tr:nth-of-type(even) {
    background-color: #E8EFA9;
}